html,
body {
    margin: 0;
    padding: 0;
}

.banner {
    height: 7vh;
    background-color: lightgreen;
    display: grid;
    justify-content: center;
    align-items: center;
}

.banner h1 {
    margin: 0;
}

/* Posts Container and Body */
.posts-container {
    display: grid;
    /* grid-template-columns: 3fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 4rem;
    height: auto;
    margin: 0 5rem;
    padding: 4rem;
}

.posts-container__image {
    justify-self: center;
    height: 30vh;
    width: auto;
}

.posts-img {
    height: 100%;
    width: auto;
}

.posts-title {
    font-size: 2.5rem;
}

.posts-body {
    font-size: 1.5rem;
}

.posts-link {
    font-size: 1.4rem;
}
